backports.shutil-get-terminal-size==1.0.0
decorator==4.4.0
enum34==1.1.6
file-path==0.2
ipython==5.8.0
ipython-genutils==0.2.0
Logbook==1.4.3
lxml==4.3.3
pathlib2==2.3.3
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==1.0.16
ptyprocess==0.6.0
py==1.8.0
py4j==0.10.7
pycryptodomex==3.8.1
Pygments==2.3.1
pyshark==0.4.2.2
pyspark==2.4.2
pyspark-stubs==2.4.0.post1
scandir==1.10.0
scapy==2.3.2
scapy-ssl-tls==2.0.0
simplegeneric==0.8.1
six==1.12.0
tinyec==0.3.1
traitlets==4.3.2
wcwidth==0.1.7
